@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Wet+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root{
    --fonte-destaque: "Rubik Wet Paint", system-ui;
    --fonte-texto: "Playfair Display", serif;
    --misty-rose: rgb(240, 56, 105);
    --pink: rgb(240, 129, 156);
    --cherry-blossom-pink: rgb(138, 10, 42);
    --bakermiller-pink: #ff8fabff;
    --rose-pompadour: #fb6f92ff;
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-titulo);
    
    color: var(--preto);
}

#caixa{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 2rem;
}

.cartao{
    margin: 1rem;
    background-color: var(--mimi-pink);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartao:hover .cartao__conteudo{
    transform: rotateY(180deg);

}

.cartao__conteudo h3{
    border: 2px, solid var(--preto);
    color: var(--azul-escuro);
    font-family: var(--fonte-titulo);
    text-align: center;
    padding: 0.5em;
    position: absolute;
    margin: 0.6em;
    border-radius: 0.6em;
    font-size: 1.5vw;
    backface-visibility: hidden;

}

.cartao__conteudo__pergunta{
    font-size: 1.5rem;
    margin: 2.5rem;
    font-family: var(--fonte-secundaria);

}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.cartao__conteudo p{
    margin: 1rem;
    padding: 1.3rem;
}

.cartao__conteudo__resposta{
    font-size: 1.5rem;
    transform: rotateY(180deg);
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--azul-ciano);
    padding: 1em;
}

footer p{
    font-size: 1.2rem;
}

footer a{
    color: var(--azul-escuro);
    text-decoration: none;
}